{{!-- {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

{{#if cards.length}}
<section>
  <h2>Your Inventory</h2>
  <ol>
    {{#each cards as |card|}}
    <li>
      {{> card-info card}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}